#{extends 'main.html' /}
#{set title:'PopUp' /}

<html>
<head>
<style type="text/css">
.bottom {
 	margin-left:40%;
}
</style>
</head>

<form method="POST" action="uploadPicture" enctype="multipart/form-data">
	<center><img src="${imagepath}" /></center>

	<br><br>
	<div class="bottom">
		<input type="hidden" name="captured_image" value="${imagepath}" />
		<input type="submit" name="submit" value="Capture" />
		<input type="button" name="close" value="Close" onclick="self.close()"/>
	</div>
</form>
 



</html>